<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        Sono l'header
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        Sono il Footer
    </footer>

</body>
</html>
