@page
@model Test_MVC_2.Views.Shared.IndexModel
@{
}
<nav>
    <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Menù</a></li>
    <li><a href="#">Contattaci</a></li>

    </ul>
</nav>

<style>

    nav {
        margin-top:30px;
    }

    ul {
        display:flex;
        justify-content:center;
        gap: 50px;
        align-content:center;     
    }
    li, a {
        list-style: none;
    }
    ul li:hover {
        transform: scale(1.2);
    }
    a {
        color:white;
        font-size:20px;
    }
</style>